.footer {

   &__container {
      display: flex;
      flex-direction: column;
      padding-top: 9.625rem;
   }

   &__top {
      display: flex;
      padding-bottom: 2rem;
      justify-content: space-between;
      @media(max-width: 1023.98px) {
         flex-direction: column;
         row-gap: 3.125rem;
      }
   }

   &__button {
      align-self: flex-end;
      @media(max-width: 1023.98px) {
         align-self: self-start;
      }
   }

   &__title {
      max-width: 63.75rem;
      @media(max-width: 1439.98px) {
         max-width: 37.5rem;
      }
      @media(max-width: 767.98px) {
         max-width: 330px;
      }
      h2 {
         font-size: 8.125rem;
         line-height: 102%;
         @media(max-width: 1439.98px) {
            font-size: 4.6875rem;  
         }
         @media(max-width: 767.98px) {
            font-size: 2.625rem;
         }
      }
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 4.9875rem;
      border-top: 0.0625rem solid #FCFAF8;
      @media (prefers-color-scheme: light) {
         border-top: 0.0625rem solid #333837;
      }
   }

   &__rights {
      p {
         font-size: 1.5625rem;
         line-height: 108.5%;
         @media(max-width: 767.98px) {
            font-size: 1.25rem;
         }
      }
   }

   &__contacts {
      font-size: 1.5625rem;
      line-height: 108.5%;
   }
}
.contacts-footer {
   @media(max-width: 767.98px) {
      font-size: 0.75rem;
   }
   &__list {
      display: flex;
      column-gap: 5.0625rem;
      align-items: center;
      @media(max-width: 767.98px) {
         column-gap: 2.5rem;
      }
      @media(max-width: 424.98px) {
         column-gap: 1.25rem;
      }
   }

   &__item {
      a {
         display: block;
         position: relative;
         overflow: hidden;
         padding: 0.2em 0;
         &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: #FFFFFF;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
            @media (prefers-color-scheme: light) {
               background-color: #383838;
            }
         }  
         &:hover::after,
         &:focus::after{
            opacity: 1;
            transform: translate3d(0, 0, 0);
         }
      }
   }
}