.header {
   font-size: 1.875rem;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 99;
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 3.1875rem;
      padding-bottom: 3.1875rem;
      animation: load 2.5s ease-out;
      @keyframes load {
         0% {
            transform: translateY(-30%);
            opacity: 0;
         }
         20% {
            transform: translateY(-30%);
            opacity: 0;
         }
         40% {
            transform: translateY(-30%);
            opacity: 0;
         }
         100% {
            transform: translateY(0);
            opacity: 1;
         }
       }
      .header__container.unloaded {
         transform: translateY(-100%);
         opacity: 0;
      }
      @media(max-width: 1023.98px) {
         padding-top: 1.5625rem;
         padding-bottom: 1.5625rem;
      }
      @media(max-width: 767.98px) {
         align-items: start;
      }
   }

   &__logo {
      a {
         @media(max-width: 1023.98px) {
            font-size: 1.25rem;
         }
      }
   }
}
.menu-header {
   &.simple,
   &.other {
      .menu-header{
         &__list {
            display: flex;
            align-items: center;
            column-gap: 5.625rem;
            @media(max-width: 1023.98px) {
               column-gap: 2.8125rem;
            }
            @media(max-width: 767.98px) {
               flex-direction: column;
               align-items: end;
            }
         }

         &__link {
            display: inline-block;
            position: relative;
            overflow: hidden;
            &.unvisible {
               opacity: 0;
               pointer-events: none;
            }
            line-height: 115.5%;
            padding: 0.2em 0;
            @media(max-width: 1023.98px) {
               font-size: 0.719rem;
            }
            &::after {
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 0.1em;
               background-color: #FFFFFF;
               opacity: 0;
               transition: opacity 300ms, transform 300ms;
               opacity: 0;
               transform: translate3d(-100%, 0, 0);
               @media (prefers-color-scheme: light) {
                  background-color: #383838;
               }
            }  
            &:hover::after,
            &:focus::after{
               opacity: 1;
               transform: translate3d(0, 0, 0);
            }
         }
      }
   }
}  