.page {

   &__method {
      margin-top: 18.125rem;
   }

   &__portfolio {
      padding-top: 8.0625rem;
   }

   &__canhelp {
      padding-top: 9.3125rem;
   }

   &__titles {
      h3 {
         color: #FCFAF8;
         font-size: 4.375rem;
         line-height: 141%;
         @media(max-width: 1023.98px) {
            font-size: 2.5rem;
         }
         @media(max-width: 767.98px) {
            font-size: 2.4rem;
         }
      }
   }

   &__button {
      overflow: hidden;
      p {
         font-size: 1.75rem;
         line-height: 141%;
         @media (prefers-color-scheme: light) {
            color: #FCFAF8;
         }
      }
      border-radius: 3.9375rem;
      background-color: #333837;
      padding: 1.0625rem 2.5313rem 1.0625rem 2.1875rem;
      display: flex;
      column-gap: 2.6563rem;
      align-items: center;
      @media(max-width: 767.98px) {
         padding: 0.4063rem 0.875rem;
         p {
            font-size: 0.875rem;
         }
      }
      &:hover {
         .page__button-decor svg {
            opacity: 1;
         }
         .page__button-decor::after {
            width: 3.125rem;
            height: 3.125rem;
         }
      }
   }

   &__button-decor {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @media(max-width: 767.98px) {
         display: none;
      }
      &::after {
         content: '';
         position: absolute;
         width: 1.1875rem;
         height: 1.1875rem;
         background-color: #D9D9D9;
         border-radius: 50%;
         transition: all 0.3s ease 0s;
      }
      svg {
         transition: all 0.3s ease 0s;
         position: absolute;
         opacity: 0;
         color: #060606;
         width: 2.3rem;
         height: 2.3rem;
         z-index: 22;
      }
   }
}
.main {
   min-height: 100vh;
   display: flex;
   align-items: end;
   justify-content: center;
   position: relative;
   overflow: hidden;
   @media(max-width: 1023.98px) {
      min-height: 70vh;
      padding-bottom: 0;
      padding-top: 21.875rem;
   }
   @media(max-width: 767.98px) {
      padding-bottom: 2.5rem;
      min-height: 50vh;
   }
   &__container {
      animation: load 2.5s ease-out;
      @keyframes load {
         0% {
            transform: translateY(10%);
            opacity: 0;
         }
         20% {
            transform: translateY(10%);
            opacity: 0;
         }
         40% {
            transform: translateY(10%);
            opacity: 0;
         }
         100% {
            transform: translateY(0);
            opacity: 1;
         }
       }
      &.unloaded {
         transform: translateY(5%);
         opacity: 0;
      }
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: column;
      padding-bottom: 10.625rem;
      padding-top: 17.1875rem;
      @media(max-width: 1023.98px) {
         row-gap: 1.9375rem;
         padding-bottom: 1.25rem;
         margin-top: 4.375rem;
      }
   }

   &__title {
      h1 {
         color: #FCFAF8;
         font-size: 13.7443rem;
         line-height: 91.5%;
         display: flex;
         flex-direction: column;
         row-gap: 0.625rem;
         @media(max-width: 1439.98px) {
            font-size: 9.375rem;
         }
         @media(max-width: 1023.98px) {
            font-size: 6.25rem;
         }
         @media(max-width: 767.98px) {
            font-size: 60px;
         }
         @media(max-width: 424.98px) {
            font-size: 3.125rem;
         }
         @media(max-width: 374.98px) {
            font-size: 2.8125rem;
         }
         p.first {
            align-self: flex-start;
         }
         p.second {
            align-self: flex-end;
         }
         span {
            color: #14CF93;
            font-style: italic;
         }
      }
   }

   &__subtitle {
      max-width: 17.5rem;
      p {
         color: #FCFAF8;
         font-size: 1.875rem;
         line-height: 134%;
         @media(max-width: 1023.98px) {
            font-size: 1.25rem;
         }
         @media(max-width: 767.98px) {
            font-size: 1rem;
         }
         @media (prefers-color-scheme: light) {
            color: #333837;
         }
      }
   }
}

//---------------------------------------------------------------------------------

.about {
   margin-top: 2rem;
   &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 1.1875rem;
   }

   &__text {
      max-width: 70.625rem;
      p {
         color: #FCFAF8;
         font-size: 2.625rem;
         line-height: 141%;
         @media(max-width: 1023.98px) {
            font-size: 1.25rem;
         }
         @media(max-width: 767.98px) {
            font-size: 1.0625rem;
         }
         @media (prefers-color-scheme: light) {
            color: #333837;
         }
      }
   }
}

//-----------------------------------------------------------------------------------

.canhelp {

   &__container {
      display: flex;
      flex-direction: column;
      row-gap: 1.6875rem;
   }

   &__cards {
      display: flex;
      justify-content: space-between;
      @media(max-width: 767.98px) {
         flex-direction: column;
      }
   }

   &__card {
      &:not(:last-child) {
         .card-canhelp__cnt{
            border-right: 0.0625rem solid #14CF93;
            @media(max-width: 767.98px) {
               border-right: none;
               padding-bottom: 2.5rem;
               border-bottom: 0.0625rem solid #14CF93;
            }
         }
      }
      &:first-child {
         .card-canhelp__cnt{
            padding-right: 6.25rem;
            @media(max-width: 1023.98px) {
               padding-right: 2.5rem;
            }
         }
      }
      &:nth-child(2) {
         padding-left: 1.875rem;
         @media(max-width: 767.98px) {
            padding-left: 0;
         }
         .card-canhelp__cnt{
            padding-right: 6.5625rem;
            @media(max-width: 1023.98px) {
               padding-right: 2.8125rem;
            }
         }
      }
      &:last-child {
         padding-left: 1.875rem;
         @media(max-width: 767.98px) {
            padding-left: 0;
         }
      }
   }
}
.card-canhelp {
   display: flex;
   flex-direction: column;
   &__number {
      span {
         color: #14CF93;
         font-size: 5rem;
         line-height: 141%;
      }
   }

   &__cnt {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   &__title {
      padding-bottom: 1.5625rem;
      h4 {
         color: #FCFAF8;
         font-size: 2.25rem;
         line-height: 141%;
         @media(max-width: 1439.98px) {
            font-size: 1.35rem;
         }
         @media(max-width: 1023.98px) {
            font-size: 1rem;
         }
         @media(max-width: 767.98px) {
            font-size: 1.35rem;
         }
         @media (prefers-color-scheme: light) {
            color: #333837;
         }
      }
   }

   &__text {
      max-width: 27.625rem;
      p {
         font-size: 1.375rem;
         line-height: 141%;
         @media(max-width: 1439.98px) {
            font-size: 0.875rem;
         }
         @media(max-width: 1023.98px) {
            font-size: 0.625rem;
         }
         @media(max-width: 767.98px) {
            font-size: 0.875rem;
         }
      }
   }
}

//------------------------------------------------------------------------------------

.portfolio {

   &__container {
      display: flex;
      flex-direction: column;
   }

   &__top {
      display: flex;
      column-gap: 58.857143%; /* 1030/1750 */
      align-items: center;
   }

   &__titles {
      h5 {
         font-size: 3.4375rem;
         line-height: 141%;
         @media(max-width: 1439.98px) {
            font-size: 2.1875rem;
         }
      }
   }

   &__projects {
      padding-top: 0.4375rem;
      padding-bottom: 5rem;
      
   }

   &__card {
      &:first-child {
         border-top: 0.0625rem solid #14CF93;
      }
   }

   &__bottom {
      display: flex;
      flex-direction: column;
   }
}
.top-portfolio {

   &__text {
      @media(max-width: 767.98px) {
         display: none;
      }
      p {
         font-size: 1.875rem;
         // line-height: 141%;
         @media(max-width: 1439.98px) {
            font-size: 20px;
         }
         @media(max-width: 1023.98px) {
            font-size: 12px;
         }
      }
   }
}
.card-portfolio {
   padding: 4.5rem 5.3125rem;
   display: flex;
   @media(max-width: 767.98px) {
      padding: 4rem 4.6rem;
   }
   @media(max-width: 424.98px) {
      padding: 3.5rem 3.5rem;
   }
   @media(max-width: 374.98px) {
      padding: 3.5rem 2.4rem;
   }
   transition: all 0.5s ease 0s;
   align-items: center;
   justify-content: space-between;
   // column-gap: 3.125rem;
   border-bottom: 0.0625rem solid #14CF93;
   &__title {
      flex: 1 1 auto;
      h6 {
         font-size: 5.625rem;
         line-height: 141%;
         transition: all 0.5s ease 0s;
         @media(max-width: 1439.98px) {
            font-size: 3.125rem;
         }
         @media(max-width: 1023.98px) {
            font-size: 1.875rem;
         }
         @media(max-width: 767.98px) {
            font-size: 15px;
         }
      }
   }

   &__category {
      p {
         text-align: end;
         font-size: 1.5625rem;
         line-height: 141%;
         transition: all 0.5s ease 0s;
         @media(max-width: 1439.98px) {
            font-size: 1.25rem;
         }
         @media(max-width: 1023.98px) {
            font-size: 0.75rem;
         }
         @media(max-width: 767.98px) {
            font-size: 8px;
         }
      }
   }

   &__link {
      &:hover {
         .card-portfolio {
            padding: 4.5rem 4.0625rem;
            @media(max-width: 767.98px) {
               padding: 4rem 4.0625rem;
            }
            @media(max-width: 424.98px) {
               padding: 3.5rem 2.75rem;
            }
            @media(max-width: 374.98px) {
               padding: 3.5rem 2rem;
            }
            &__title {
               h6 {
                  color: #bdbdbd;
               }
            }
            &__category {
               p {
                  color: #bdbdbd;
               }
            }
         }
      }
   }
}
.bottom-portfolio {

   &__text {
      p {
         font-size: 1.5625rem;
         display: flex;
         align-items: center;
         column-gap: 0.5rem;
         // line-height: 141%;
         @media(max-width: 1439.98px) {
            font-size: 1rem;
            column-gap: 0.3rem;
         }
         @media(max-width: 1023.98px) {
            font-size: 0.719rem;
         }
         a {
            display: inline-block;
            position: relative;
            overflow: hidden;
            padding: 0.2em 0;
            @media(max-width: 1023.98px) {
               font-size: 0.719rem;
            }
            &::after {
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               height: 0.1em;
               background-color: #FFFFFF;
               opacity: 0;
               transition: opacity 300ms, transform 300ms;
               opacity: 0;
               transform: translate3d(-100%, 0, 0);
               @media (prefers-color-scheme: light) {
                  background-color: #383838;
               }
            }  
            &:hover::after,
            &:focus::after{
               opacity: 1;
               transform: translate3d(0, 0, 0);
            }
         }
      }
   }
}

//-----------------------------------------------------------------------

.method {
   padding-bottom: 1.25rem;
   &__container {
      display: flex;
      justify-content: space-between;
      column-gap: 1.875rem;
      @media(max-width: 1439.98px) {
         flex-direction: column;
         row-gap: 3.125rem;
      }

   }

   &__text {
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;
   }

   &__title {
      max-width: 47.75rem;
      h3 {
         line-height: 108.5%;
         @media (prefers-color-scheme: light) {
            color: #383838;
         }
      }
   }

   &__paragraph {
      max-width: 41.4375rem;
      p {
         font-size: 1.5625rem;
         line-height: 141%;
         @media(max-width: 1023.98px) {
            font-size: 16px;
         }
      }
   }

   &__list {
      display: flex;
      max-width: 47.75rem;
      flex-direction: column;
      flex: 1 1 auto;
   }

   &__accordeon {
      border-bottom: 0.0625rem solid #14CF93;
   }
}
.accordeon-method {
   padding-bottom: 1.1875rem;
   padding-top: 2rem;
   &:first-child {
      .accordeon-method__title {
         column-gap: 5rem;
         @media(max-width: 1550px) {
            column-gap: 3.625rem;
         }  
         @media(max-width: 767.98px) {
            column-gap: 2.1875rem;
         }
         @media(max-width: 374.98px) {
            column-gap: 0.9375rem;
         }
      }
   }
   &__button {
      position: relative;
      cursor: pointer;
   }

   &__title {
      display: flex;
      align-items: center;
      column-gap: 4.5rem;
      @media(max-width: 1550px) {
         column-gap: 3.125rem;
      }
      @media(max-width: 767.98px) {
         column-gap: 1.875rem;
      }
      @media(max-width: 374.98px) {
         column-gap: 0.625rem;
      }
      p {
         font-size: 2.625rem;
         line-height: 108.5%;
         @media(max-width: 767.98px) {
            font-size: 1.2rem;
         }
      }
   }

   &__body {
      opacity: 0;
      height: 0;
      overflow: hidden;
      margin: 0 auto;
      max-width: 31.25rem;
      transition: all 0.5s ease 0s;
      box-sizing: content-box;
      @media(max-width: 767.98px) {
         max-width: 18.75rem;
      }
      p {
         font-size: 1.5625rem;
         line-height: 141%;
         @media(max-width: 767.98px) {
            font-size: 0.875rem;
         }
      }
   }

   &__body._open {
      opacity: 1;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
   }

   &__icon {
      &._open {
         &::before {
            opacity: 0;
         }
      }
      &::after {
         content: '';
         position: absolute;
         top: 50%;
         right: 5%;
         width: 1.875rem;
         height: 0.125rem;
         background-color: #FCFAF8;
         @media(max-width: 424.98px) {
            width: 1.25rem;
         }
         @media(max-width: 374.98px) {
            width: 0.9375rem;
         }
         @media (prefers-color-scheme: light) {
            background-color: #383838;
         }
      }
      &::before {
         content: '';
         transition: opacity 0.5s ease 0s;
         position: absolute;
         top: 50%;
         right: 5%;
         transform: rotate(90deg);
         width: 1.875rem;
         height: 0.125rem;
         background-color: #FCFAF8;
         @media(max-width: 424.98px) {
            width: 1.25rem;
         }
         @media(max-width: 374.98px) {
            width: 0.9375rem;
         }
         @media (prefers-color-scheme: light) {
            background-color: #383838;
         }
      }
   }
}


//-----------new page-------------------------------------------------------------

.sneakers-page {

   &__main {
      padding-top: 23.75rem;
      @media(max-width: 1439.98px) {
         padding-top: 11.625rem;
      }
   }
   &__individual {
      padding-top: 3.625rem;
      @media(max-width: 1439.98px) {
         padding-top: 2.625rem;
      }
   }
   &__mywork {
      padding-bottom: 7.5rem;
      @media(max-width: 1439.98px) {
         padding-bottom: 3.5rem;
      }
      @media(max-width: 767.98px) {
         padding-bottom: 1rem;
      }
   }
}
.main-sneakers-page {
   &__title {
      font-size: 8.75rem;
      line-height: 141%; /* 197.4px */
      @media(max-width: 1439.98px) {
         font-size: 3.125rem;
      }
      @media(max-width: 767.98px) {
         font-size: 1.25rem;
      }
   }

   &__img {
      height: 50.6875rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      @media(max-width: 1439.98px) {
         height: 25rem;
      }
      @media(max-width: 767.98px) {
         height: 12rem;
      }
      img {
         z-index: -1;
         position: absolute;
         height: auto;
         width: 100%;
         transform: scale(1.15);
         object-fit: cover;
      }
   }
}

//---------------------------------------------------

.individual {

   &__text {
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;
      padding-bottom: 3.4375rem;
   }

   &__image {
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 42.0625rem;
      @media(max-width: 1439.98px) {
         height: 21rem;
      }
      @media(max-width: 767.98px) {
         height: 11rem;
      }
      img {
         top: -2.5rem;
         z-index: -1;
         position: absolute;
         height: auto;
         width: 100%;
         transform: scale(1.15);
         object-fit: cover;
      }
   }
}
.aditional-page {

   &__category {
      span {
         color: #14CF93;
         font-size: 1.5625rem;
         line-height: 141%; /* 35.25px */
      }
   }

   &__titles {
      h2 {
         font-size: 4.375rem;
         line-height: 108.5%; /* 75.95px */
         @media(max-width: 1439.98px) {
            font-size: 2.5rem;
         }
         @media(max-width: 767.98px) {
            font-size: 0.9375rem;
         }
      }
   }

   &__text {
      max-width: 41.4375rem;
      p {
         font-size: 1.5625rem;
         line-height: 141%; /* 35.25px */
         @media(max-width: 1439.98px) {
            font-size: 1rem;
         }
         @media(max-width: 767.98px) {
            font-size: 0.7375rem;
         }
      }
   }
}

//------------------------------------------------------------

.mywork {

   &__text {
      padding-top: 7.625rem;
      padding-bottom: 7.6875rem;
      max-width: 67.5rem;
      @media(max-width: 1439.98px) {
         padding-top: 4.625rem;
         padding-bottom: 4.6875rem;
      }
      p {
         font-size: 2.625rem;
         line-height: 141%; /* 59.22px */
         @media(max-width: 1439.98px) {
            font-size: 1.5rem;
         }
         @media(max-width: 767.98px) {
            font-size: 0.9375rem;
         }
      }
   }

   &__image {
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 58.625rem;
      @media(max-width: 1439.98px) {
         height: 29rem;
      }
      @media(max-width: 767.98px) {
         height: 14rem;
      }
      img {
         top: -6.25rem;
         z-index: -1;
         position: absolute;
         height: auto;
         width: 100%;
         transform: scale(1.15);
         object-fit: cover;
      }
   }
}

.loader {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #060606;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 200;
   transition: height 1s ease 0s;
   overflow: hidden;
   &.hide {
      height: 0;
      opacity: 0;
      z-index: -22;
   }
   @media (prefers-color-scheme: light) {
      background-color: #FCFAF8;
      h1 {
         color: #808080;
         &::before {
            color: #000000;
         }
      }
   }
   &__text {
      // width: 100%;
      white-space: nowrap;
      text-align: center;
      color: #9c9c9c;
      font-size: 7.5rem;
      position: relative;
      opacity: 0;
      animation: lod2 1s linear;
      @media(max-width: 767.98px) {
         font-size: 3.75rem;
      }
      &::before {
         content: attr(data-text);
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         color: #FCFAF8;
         animation: lod 0.5s linear;
         overflow: hidden;
       }
       @keyframes lod {
         0% {
            width: 0;
         }
         50% {
            width: 0;
         }
         100% {
            width: 100%;
         }
       }
       @keyframes lod2 {
         0% {
            opacity: 1;
         }
         50% {
            transform: scale(1);
            opacity: 1;
         }
         60% {
            opacity: 1;
         }
         90% {
            transform: scale(5);
            opacity: 0;
         }
         100% {
            transform: scale(5);
            opacity: 0;
         }
       }
   }
}
