@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic&display=swap);


* {padding: 0; margin: 0; border: 0;}
*,*:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html, body {height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 16px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

html {
   scroll-behavior: smooth;
   &.light {
      body {
         background-color: #FCFAF8;
         &, a, p {
            color: #383838;
         }
      }
      .footer__bottom{
         border-top: 0.0625rem solid #333837;
      }
      .page__button {
         p {
            color: #FCFAF8;
         }
      }
      .card-canhelp__title {
         h4 {
            color: #383838;
         }
      }
      .canhelp__card{
         &:not(:last-child) {
            .card-canhelp__cnt{
               border-right: 0.0625rem solid #000000;
               @media(max-width: 767.98px) {
                  border-bottom: 0.0625rem solid #000000;
               }
            }
         }
      }
      .bottom-portfolio__text {
         p {
            a {
               &::after {
                  background-color: #383838;
               }
            }
         }
      }
      .method__title {
         h3 {
            color: #383838;
         }
      }
      .accordeon-method__icon::after,.accordeon-method__icon::before {
         background-color: #383838;
      }
      .menu-header{
         &.simple,
         &.other {
            .menu-header__link::after {
               background-color: #383838;
            }
         }
      }
      .contacts-footer__item {
         a::after {
            background-color: #383838;
         }
      }
   }
   &.dark {
      body {
         background-color: #060606;
         &, a, p {
            color: #FCFAF8;
         }
      }
      .footer__bottom{
         border-top: 0.0625rem solid #FCFAF8;
      }
      // .page__button {
      //    p {
      //       color: #383838;
      //    }
      // }
      .card-canhelp__title {
         h4 {
            color: #FCFAF8;
         }
      }
      &:not(:last-child) {
         .card-canhelp__cnt{
            border-right: 0.0625rem solid #14CF93;
            @media(max-width: 767.98px) {
               border-bottom: 0.0625rem solid #14CF93;
            }
         }
      }
      .bottom-portfolio__text {
         p {
            a {
               &::after {
                  background-color: #FFFFFF;
               }
            }
         }
      }
      .method__title {
         h3 {
            color: #FCFAF8;
         }
      }
      .accordeon-method__icon::after,.accordeon-method__icon::before {
         background-color: #FCFAF8;
      }
      .menu-header{
         &.simple,
         &.other {
            .menu-header__link::after {
               background-color: #FCFAF8;
            }
         }
      }
      .contacts-footer__item {
         a::after {
            background-color: #383838;
         }
      }
   }
}

body {
   background-color: #060606;
   &, a, p {
      font-family: 'DM Sans';
      color: #FCFAF8;
      font-weight: 400;
   }
   @media (prefers-color-scheme: light) {
      background-color: #FCFAF8;
      &, a, p {
         color: #383838;
      }
   }
}

@keyframes loadOp {
   0% {
      transform: translateY(2%);
      opacity: 0;
   }
   20% {
      transform: translateY(2%);
      opacity: 0;
   }
   40% {
      transform: translateY(2%);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
 }

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}
[class*="__container"]{
   max-width: 1800px;
   margin: 0px auto;
   padding: 0px 25px;
}
.page { 
   flex: 1 1 auto;
   &.aditional {
      .aditional.unloaded {
         transform: translateY(2%);
         opacity: 0;
      }
      animation: loadOp 2.5s ease-out;
   }
 }



//-----header-------------------

@import 'header.scss';

//-----main-------------------

@import 'main.scss';

//-----footer-------------------

@import 'footer.scss';